<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<nav class="navbar navbar-defaut navbar-static-top">
	<div class="container-fluid">
		<div class="navbar-header">
		</div>
	</div>
	<ul class="nav nav-tabs">
		<li role="presentation"><a href="/home">Home</a></li>
		<li role="presentation"><a href="/casadeshow">Casas</a></li>
		<li role="presentation"><a href="/evento">Eventos</a></li>
		<li role="presentation"><a href="/historico">Histórico</a></li>
	</ul>
</nav>
</html>