<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
<head>
<title>Domum Amet - Eventos</title>
</head>
<section layout:fragment="conteudo"> 

	<form class="form-horizontal" method="POST" action="/evento" th:object="${evento}">
	<div layout:insert="MensagemEvento"></div>
	<div layout:insert="MensagemEventoErro"></div>
		<div class="panel panel-evento panel-defaut">
			<div class="panel heading">
				<div class="clearfix">
					<h3 style="padding-top: 1%; padding-bottom: 1%; font-size: 250%;font-family: MV Boli;"
						class="panel-title panel-evento" align="center">Domum Amet - Eventos - Editar</h3>
				</div>
			</div>
			<div class="panel-body">
			  <h5 class="text-center" th:text="|Codigo do evento: ${evento.codigo}"></h5><br>
				<input type="hidden" th:field="*{codigo}"/>
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? has-error">
					<label for="nome" class="col-sm-2 control-label">Nome do
						Evento</label>
					<div class="col-sm-4">
						<input type="text" autocomplete = "off" class="form-control" id="nome" th:field="*{nome}" 
						placeholder="Digite o nome do evento."/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('capacidade')} ? has-error">
					<label for="capacidade" class="col-sm-2 control-label">Capacidade</label>
					<div class="col-sm-2">
						<input type="number" autocomplete = "off" class="form-control" id="capacidade"
							th:field="*{capacidade}" placeholder="Digite a capacidade."/>
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('preco')} ? has-error">
					<label for="preco" class="col-sm-2 control-label">Valor do
						Ingresso</label>
					<div class="col-sm-2">
						<input type="text" class="form-control js-currency"  autocomplete = "off" id="preco" th:field="*{preco}"
						placeholder="Digite preço do ingresso." />
					</div>
				</div>

				<div class="form-group" th:classappend="${#fields.hasErrors('data')} ? has-error">
					<label for="data" class="col-sm-2 control-label">Data</label>
					<div class="col-sm-2">
						<input type="text" autocomplete = "off" class="form-control" id="data" th:field="*{data}"
							data-provide="datepicker" data-date-format="dd/mm/yyyy"
							data-date-language="pt-BR" data-date-autoclose="true"
							data-date-today-highlight="true" data-date-orientation="bottom"
							placeholder="Selecione a data." />
					</div>
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('local')} ? has-error">
					<label for="local" class="col-sm-2 control-label">Nome da Casa</label>
					<div class="col-sm-2">
						<select  class="form-control" id="local" name="local" >
							<option th:each="local : ${casas}" th:value="${local.ID}" th:text="${local.localizacao}"></option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label for="genero" class="col-sm-2 control-label">Genero</label>
					<div class="col-sm-2">
						<select  class="form-control" id="genero" th:field="*{genero}">
							<option th:each="gen : ${todosGeneros}" th:value="${gen}" th:text="${gen.musical}"></option>
						</select>
					</div>
				</div>				
			<div class="form-group">
					<div class="col-sm-offset-2 col-sm-10">
						<button type="submit" class="btn btn-salvar btn-primary">Salvar</button>
					</div>
				</div>
				<div class="table-responsive">
					<table
						class="table table-bordered table-hover table-condensed table">
						<thead>
							<tr>
								<th class="text-center col-md-1">#</th>
								<th class="text-center col-md-1">Nome</th>
								<th class="text-center col-md-1">Capacidade</th>
								<th class="text-center col-md-1">Data</th>
								<th class="text-center col-md-1">Casa</th>
								<th class="text-center col-md-1">Preço do Ingresso</th>
								<th class="text-center col-md-1">Genero</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="evento : ${eventos}">
								<td class="text-center" th:text="${evento.codigo}">1</td>
								<td class="text-center" th:text="${evento.nome}"></td>
								<td class="text-center" th:text="${evento.capacidade}"></td>
								<td class="text-center" th:text="${{evento.data}}"></td>
								<td class="text-center" th:text="${evento.local.localizacao}"></td>
								<td class="text-center" th:text="|R$ ${{evento.preco}}|"></td>
								<td class="text-center" th:text="${evento.genero}"></td>
							</tr>
						</tbody>
					</table>
				  </div>
				</div>
				
			</div>
	</form>
</section>
</html>