<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
<head>
<title>Domum Amet - Compra de Ingressos</title>
</head>
<section layout:fragment="conteudo"> 

	<form class="form-horizontal" method="POST" >
		<div class="panel panel-evento panel-defaut">
			<div class="panel heading">
				<div class="clearfix">
					<h3 style="padding-top: 1%; padding-bottom: 1%; font-size: 250%;font-family: MV Boli;"
						class="panel-title panel-evento" align="center">Domum Amet - Compra de Ingressos</h3>
				</div>
			</div>
			<div class="panel-body">
				<div class="card" th:each="evento : ${eventos}">
					<div class="card-body" style="padding-bottom: 1%;" >
						<h2 class="card-title" style="font-size: 400%;" align="center" th:text="${evento.nome}"></h2>
						<h4 class="text-center" th:text="|Capacidade : ${evento.capacidade}|"></h4>
								<h5 class="text-center" style="font-size: 120%;" th:text="|Data do evento : ${{evento.data}}|"></h5>
								<h5 class="text-center" style="font-size: 150%;" th:text="${evento.local.localizacao}"></h5>
								<h4 class="text-center" th:text="|Preço do ingresso: R$ ${{evento.preco}}|"></h4>
								<h3 class="input-append spinner text-center" data-trigger="spinner"> Ingressos:	
 									<input type="number"id="qtdIngresso" name="qtdIngresso" value="1" min="1" max="100" step="1"/>
								</h3>
					<button class="btn btn-primary btn-md btn-comprar" style="margin-left: 46%;" type ="submit" th:href="@{/compra/{id}(id=${evento.codigo})}"><span>Confirmar Compra</span></button>
					</div>				
				</div>
				</div>
				
			</div>
	</form>
</section>
</html>