<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Domum Amet</title>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-datepicker.standalone.min.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap-spinner.css">

</head>
<body>

<header layout:insert="Cabecalho"></header>

<section layout:fragment="conteudo">
		<p>Conteúdo principal</p>
</section>

<div class="footer" style="margin-left: 10%; margin-right: 10%; color:white;">
	<hr>Luiz Otávio Silva Barbosa @ Estagiário GFT
</div>
<script src="/js/jquery-3.4.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/eventos.js"></script>
<script src="/js/bootstrap-datepicker.min.js"></script>
<script src="/js/bootstrap-datepicker.pt-BR.min.js"></script>
<script src="/js/jquery.maskMoney.min.js"></script>
<script src="/js/jquery.spinner.min.js"></script>
</body>
</html>
