<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org/"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="LayoutPadrao">
<head>
<title>Domum Amet - Home</title>
</head>
<section layout:fragment="conteudo">
	<form class="form-horizontal" action="/home/comprar" th:object="${evento}">
		<div class="panel panel-evento panel-defaut">
			<div class="panel heading">
				<div class="clearfix">
					<h3 style="padding-top: 1%; padding-bottom: 1%;"
						class="panel-title panel-evento" align="center">Domum Amet -
						Home</h3>
				</div>
			</div>
				<div class="card" th:each="evento : ${eventos}">
					<div class="card-body" >
						<h2 class="card-title" align="center" th:text="${evento.nome}"></h2>
						<h4 class="text-center" th:text="|Capacidade: ${evento.capacidade}|"></h4>
								<h5 class="text-center" th:text="|Data do evento : ${{evento.data}}|"></h5>
								<h6 class="text-center" th:text="|Local: ${evento.local.localizacao}|"></h6>
								<h4 class="text-center" th:text="|Preço do ingresso: R$ ${{evento.preco}}|"></h4>
								<h6 class="text-center"><a class="btn btn-primary btn-md"
									th:href="@{/home/comprar/{id}(id=${evento.codigo})}"> 
									<span>Comprar</span></a></h6>
					</div>				
				</div>
			</div>
	</form>
</section>
</html>